/* Variables */
:root {
  --primaryColor: #013220;
  --secondaryColor: #002e4b;
}

main {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  background-color: var(--secondaryColor);
  animation: animated-main 7s infinite;
  background-blend-mode: overlay;
  background-size: cover;
}

.nav-item {
  border: none;
}

.jumboback,
.footer-bg {
  background-blend-mode: overlay;
  background-size: cover;
}

.jumboback {
  background-image: url('../img/headerbg.jpg');
  animation: animated-head 7s infinite;
}

.footer-bg {
  background-image: url('../img/footerbg.jpg');
  animation: animated-head 7s infinite;
}

@keyframes animated-main {
  0% {background-color: rgb(1, 32, 20, 0.8);}
  50% {background-color: rgb(0, 46, 75, 0.8);}
  100% {background-color: rgb(1, 32, 20, 0.8);}
}

@keyframes animated-head {
  0% {background-color: rgb(0, 46, 75, 0.6);}
  50% {background-color: rgb(1, 50, 32, 0.5);}
  100% {background-color: rgb(0, 46, 75, 0.6);}
}

.skills-list {
  list-style: none;
}

.skills-list li {
  margin-top: 1rem;
  padding: .25rem;
}

.skill-icon {
  min-width: 30px;
}

.skills-list li:hover {
  animation: rotate 2s infinite;
}

.tools {
  font-size: 0.75rem;
}

.card {
  height: 100%;
  border: 1px solid black;
  box-shadow: 0px 0px 5px var(--primaryColor);
}

.color-bg {
  background: var(--primaryColor);
}

.bg-none {
  background: none;
}

.email {
  color: white;
  text-decoration: none;
}

.link {
  height: 30px;
  width: 30px;
  background: none;
  border: none;
  transition: transform 0.5s ease-in-out;
}

.link:hover {
  transform: scale(1.05);
} 

.projCard,
.proj {
  border-radius: 5px;
}

.proj {
  transition: transform 1s;
  box-shadow: 0px 0px 5px black;
}

.proj:hover {
  transform: scale(1.03);
}

.projButton {
  width: fit-content;
  background-color: var(--secondaryColor);
}

.app-name {
  color: black;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
}

.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  background-color: white;
  border-radius: 35%;
  display: inline-block;
  transition: background-color 0.7s ease-in-out, box-shadow 0.7s ease-in-out, border 0.7s ease-in-out;
}

.current, .dot:hover {
  background-color: var(--secondaryColor);
  border: 1px solid white;
  box-shadow: 0px 0px 5px white;
}

@keyframes rotate {
  0% {transform: rotateX(15deg);}
  25% {transform: rotateY(-15deg);}
  50% {transform: rotateX(15deg);}
  75% {transform: rotateY(-15deg);}
  100% {transform: rotateX(15deg);}
}