/* Variables */
:root {
  --primaryColor: rgb(85, 107, 47);
}

main {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.jumboback,
.footer-bg {
  background-blend-mode: overlay;
  background-size: cover;
}

.jumboback {
  background-image: url('../img/headerbg.jpg');
  animation: animated-bg 7s infinite;
}

.footer-bg {
  background-image: url('../img/footerbg.jpg');
}

@keyframes animated-bg {
  0% {background-color: rgb(85, 107, 20, 0.2);}
  50% {background-color: rgb(0, 0, 0, 0.4);}
  100% {background-color: rgb(85, 107, 20, 0.2);}
}

.skills-list {
  list-style: none;
}

.skills-list li {
  margin-top: 1rem;
}

.tools {
  font-size: 0.75rem;
}

.card {
  height: 100%;
  box-shadow: 0px 0px 5px var(--primaryColor);
}

.prev,
.next {
  position: absolute;
  top: 50%;
  cursor: pointer;
  border: none;
  background-color: none;
  color: white;
}

.prev {
  left: 12%;
}

.next {
  right: 12%;
}

.color-bg {
  background-color: var(--primaryColor);
}

.email {
  color: white;
  text-decoration: none;
}

.link {
  height: 30px;
  width: 30px;
  background: none;
  border: none;
}

.projCard,
.proj {
  border-radius: 5px;
}

.proj {
  transition: transform 1s;
  box-shadow: 0px 0px 5px black;
}

.proj:hover {
  transform: scale(1.03);
}

.app-name {
  color: black;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
}
